/* colors */

:root{
    --color1: #9C6644;
    --color2: #6F421E;
    --color3: #7F5539;
    --color4: #EDE0D4;
    --color5: #E6CCB2;
    --color6: #DDB892;
}

/* font */

@font-face {
    font-family: "Montserrat"; 
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;  
} 

/*=============Style css=========*/

/* container */

.container{max-width: 1050px; margin: 0 auto;}

/* wrapper */

.wrapper{min-height: 100vh; background-size: 100vw 100vh;}

/* typography */

h1,h2,h3,h4,p,a{
    color: var(--color3);
    font-family: 'Montserrat';
}


/* font sizes */

h1{font-size: 45px;}
h2{font-size: 35px;}
h4{font-size: 20px;}
p{font-size: 20px;}

/* button */

.btn{
    background-color: var(--color5);
    border-color: var(--color5);
    color: var(--color3);
    font-family: 'Montserrat';
    font-weight: bold;
}

/*-------------------------------------
           Header
--------------------------------------*/

.header{background-color: var(--color3);}
.nav-item{margin-left: 55px;}
.navbar{padding: 1vh 0;}

/* typography */

.nav-link{font-size: 20px; color:var(--color5);}
.nav-link:hover, .nav-link:focus{color:white;}


/*-------------------------------------
           Cards
--------------------------------------*/

.scroll-content{
    padding-top: 5vh; 
    max-height: 100vh; 
    overflow-y: scroll; 
    overflow-x: hidden;
    scrollbar-color: #E6CCB2 rgba(156, 102, 68, 0.3);
    scrollbar-width: auto;
}
.scroll-block .row{display: flex; justify-content: space-between;}

.card{
    background-color: rgba(230, 204, 178); 
    min-height: 350px; 
    min-width: 300px; 
    margin-bottom: 50px;
}
.card:hover{
    cursor: pointer;
}
.card:hover{
    zoom: 1.1;
    transition: all 20ms;
}
.card-text {font-size: 14px; }


/*-------------------------------------
           Footer
--------------------------------------*/

/* footer */

.footer{background-color: var(--color3);}

/* footer content */

.footer-content .row{
    display: flex; 
    justify-content: space-between; 
    height: 50vh;
    padding: 5vh 0;
}

/* footer text */

.footer-text p{color: var(--color6);}

/* footer image */

.footer__img{margin-bottom: 10vh;}

/* form */

.form-content input::placeholder{color: var(--color1);}
.form-content input{
    background-color: var(--color3); 
    border:none; 
    border-bottom: var(--color6) 2px solid;
    border-radius: 0;
}
.form-content input, .form-label{
    color: var(--color6);
    font-family: 'Montserrat';
    font-size: 18px;
}
.form-content input:focus{
    background-color: var(--color5); 
    color: var(--color3); 
    border-color: var(--color5); 
    box-shadow: var(--color5);
}
.form-content button{
    height: 5vh; 
    width: 10vw; 
    border-radius: 1vw;
    font-size: 18px;
}